{
	"parser": "vue-eslint-parser",
	"parserOptions": {
		"parser": "@typescript-eslint/parser"
	},
	"plugins": ["@typescript-eslint"],
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/eslint-recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:vue/vue3-recommended"
	],
	"rules": {
		"vue/max-attributes-per-line": [2, {
			"singleline": 20,
			"multiline": {
				 "max": 1,
				 "allowFirstLine": false
			 }
		}],
		"vue/html-indent": ["error", "tab"],
		"@typescript-eslint/ban-types": 1,
		"vue/script-setup-uses-vars": 0
	}
}
